{% ckan_extends %}

{% set isEditor = h.check_access('package_update', {'id':pkg.id }) %}
{% set user_id = h.restricted_get_user_id() %}

{% block resource_read_url %}
    {% set authorized = h.check_access('resource_show', {'id': res.id, 'resource': res }) %}
    {% if authorized %}
        {{ super() }}
    {% else %}
        {% if user_id %}
            <p style="color:grey;"> {{ _('Resource URL restricted: ') }}
                <a href="{{ h.url_for('restricted.restricted_request_access', package_id=pkg.name, resource_id=res.id) }}" title="{{ _('Request Access') }}">{{ _('Request Access') }}</a>
            </p>
        {% else %}
            {% block resource_item_unauthorized %}
            <p style="color:grey;"> {{ _('Resource URL restricted: ') }}
                <a href="{{ h.url_for(controller='user', action='login', came_from='/dataset/'+pkg.name+'/resource/'+res.id) }}" >{{ _('Log in') }}</a>
                {{ _('or') }}
                <a href="{{ h.url_for(controller='user', action='register', came_from='/dataset/'+pkg.name+'/resource/'+res.id) }}" >{{ _('Register')}}</a> {{ _('to access resource')}}
            </p>
            {% endblock %}
        {% endif%}
    {% endif %}
{% endblock %}

{%- block resource_fields -%}
  {%- for field in schema.resource_fields -%}
    {%- if field.field_name not in exclude_fields
        and field.display_snippet is not none -%}
      <tr>
        <th scope="row">
          {{- h.scheming_language_text(field.label) -}}
        </th>
        <td>
            {% if field.field_name != 'restricted' or isEditor %}
              {%- snippet 'scheming/snippets/display_field.html',
                  field=field, data=res, entity_type='dataset',
                  object_type=dataset_type -%}
            {% else %}
                Restricted info only available to editors
            {% endif %}
        </td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
{%- endblock -%}

{% block download_resource_button_action %}
    {% set authorized = h.check_access('resource_show', {'id': res.id, 'resource': res }) %}
    {% if authorized %}
        {{ super() }}
    {% else %}
        <a class="btn btn-primary" href="javascript:void(0)" disabled="">
          <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
    {% endif %}
{% endblock %}
