{% ckan_extends %}



{#

{% block package_resources %}

  {% set restricted = c.pkg_dict.get('restricted', 'registered') %}

  {% set resources_accessible = h.restricted_check_user_resources_access(c.user, restricted) %}  
  {% if resources_accessible %}
    {{ super() }}
  {% else %}
      <section id="dataset-resources" class="resources">
      <h3>{{ _('Data and Resources') }}</h3>
      {% if c.user %}
        <p class="empty">{{ _('Contact the administrator to access data resources') }}</p>
      {% else %}    
        <p class="empty">{{ _('Login or register to access data resources') }}</p>
      {% endif %}
      </section>
  {% endif %}

{% endblock %}

#}
