span.restricted-item{
   pointer-events: none;
}

a.heading.restricted-item{
   color: grey;
   font-style: italic;
}

.restricted-link{
  font-size: 14px;
  display: inline;
  white-space: nowrap;
}

.g-recaptcha {
 margin-left: 30%;
 padding-left: 10px;
 align:right;
}

.btn-restricted{
  margin-bottom: 10px;
}
