{% extends "page.html" %}

{% import 'macros/form.html' as form %}
{% set action = c.form_action or '' %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Organizations'), controller='organization', action='index', named_route='organization_index' %}</li>
  {% block breadcrumb_content_inner %}
    <li class="active">{% link_for _('Request Organization'), controller='ckanext.restricted.controller:RestrictedController', action='restricted_request_organization_form', named_route='restricted_request_organization' %}</li>
  {% endblock %}
{% endblock %}

{% block head_extras %}
  {{ super() }}
  <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% macro restricted_input_disabled(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], attrs={}, is_required=false) %}
  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required = true) %}
  <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}" class="form-control" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} readonly="readonly"  />
  {% endcall %}
{% endmacro %}

{% block page_header %}
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Organizations?') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
          CKAN Organizations are used to create, manage and publish collections
          of datasets. Users can have different roles within an Organization,
          depending on their level of authorisation to create, edit and publish.
        {% endtrans %}
      </p>
      <p>
        {% trans %}
          New organizations can only be created by system administrators.  If you would like your organization to join the AIDS Data Repository, please submit a request via this form and a system administrator will contact you via email with any further queries.
        {% endtrans %}
      </p>
    </div>
  </div>
{% endblock %}

{% block primary_content_inner %}
  <h2>{{ _('Request a New Organization') }}</h2>
  <form id="restricted-request-organization" class="dataset-form form-horizontal" method="post" action="{{ action }}" >
  {% block errors %}{{ form.errors(error_summary) }}{% endblock %}
  {% block basic_fields %}
    {{ restricted_input_disabled('user_name', id='field-user_name', label=_('User'), value=data.user_name, error=errors.user_name, classes=['control-full'] ) }}
    {{ restricted_input_disabled('user_email', id='field-user-email', label=_('User Mail'), value=data.user_email, error=errors.user_email, classes=['control-full'] ) }}
    {{ form.input('organization_name', label=_('New Organization Name'), placeholder=_('The name of the new organization.'), error=errors.title,
    is_required = true, value=data.organization_name) }}
    {{ form.input('organization_web', label=_('New Organization Website'), placeholder=_('e.g. https://unaids.org'), error=errors.organization_web,
    is_required = true, value=data.organization_web) }}
    {{ form.markdown('organization_description', id='field-organization_description', label=_('Organization Description'), placeholder=_('A brief description of the new organisation (location, purpose, parent organizations, etc...)'), value=data.organization_description, error=errors.organization_description, is_required = true) }}
    {{ form.markdown('reason', id='field-reason', label=_('Reason for joining'), placeholder=_('A brief explanation of why your organization would like to join the AIDS Data Repository, and what sort of data the organisation will share through the platform.'), value=data.reason, error=errors.reason, is_required = true) }}
    {% if g.recaptcha_publickey %}
      {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
      <!-- <div class="g-recaptcha" data-sitekey="{{ g.recaptcha_publickey }}"></div> -->
    {% endif %}
  {% endblock %}
  {% block form_actions %}
    <div class="form-actions">
      {% block disclaimer %}
        <p class="small">
        {% trans %}
        By submitting this form you agree to abide by the terms and conditions of use for The AIDS Data Repository and also confirm that you are duly authorized by the organization in question to administer all of their affairs concerning The AIDS Data Repository.
        {% endtrans %}
        </p>
      {% endblock %}
      {% block confirm_button %}
        <button class="btn btn-primary" type="submit" name="save"><i class="fa fa-icon fa-envelope-o"></i> {{ _('Send Request') }}</button>
      {% endblock %}
      {% block cancel_button %}
        <a class="btn btn-danger" href="{% url_for controller='organization', action='index' %}" data-module="cancel-action" >{{ _('Cancel') }}</a>
      {% endblock %}
    </div>
  {% endblock %}
  </form>
{% endblock %}
